* {
  box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background: url("../images/dust_scratches.png");
}

h1, h2, h3 {
  font-family: "Georgia", Times, Times New Roman, serif;
}

h1, h2 {
  color: #4aaaa5;
}

.heading {
  position:fixed;
  width:100%;
  background: #ffffff;
  border-color: #cccccc;
  border-bottom: 3px solid #ccc;
}

#logo {
  float: left;
  height:90px;
  width:330px;
  color:white;
  font-size:30px;
  background: #4aaaa5;
  text-align:center;
  margin: 0 auto;
  line-height:90px;
}

.menu {
  padding-top: 25px;
  float:right
}

.menu a {
  padding-left: 20px;
  margin-left:20px;
  text-decoration: none;
  display:inline-block;
  line-height:20px;
  color:#9a9b9c;
}

.borderOption {
    border-left: 2px solid #f1f1f1;
}

.blocking {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#contentBlock {
  padding-top:120px;
}

.mainContent {
  float:left;
  width: 100%;
  max-width: 650px;
  margin: 0px 0px 40px;
  background:white;
  padding: 20px 30px 30px 30px;
  border: 1px solid #dddddd;
}

.sectionTitle {
    border-bottom: 3px solid #DCDCDC;
    padding: 0px 0px 30px;
    font-size: 32px;
}

h2 {
    border-bottom: 2px solid #F5F5F5;
    padding:0px 0px 22px;
    line-height:22px;
}

.sidebar {
  float:right;
  width: 100%;
  max-width: 270px;
  background:white;
  padding:14px 28px 40px 28px;
  border: 1px solid #dddddd;
}

h2 {
  font-size: 20px;
  text-align:center;
}

.socialMedia {
  width: 62px;
  height: 62px;
}

.foot {
  padding: 30px 0;
  text-align:center;
  color: #c1d0d8;
  font-size: 12px;
  background: #666666;
  clear:both;
  border-top: 5px solid #4aaaa5;
  margin-top:40px;
}
