* {
  box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background: url("../images/dust_scratches.png");
}

h1, h2, h3 {
  font-family: "Georgia", Times, Times New Roman, serif;
}

h1, h2 {
  color: #4aaaa5;
}

.heading {
  position:fixed;
  width:100%;
  background: #ffffff;
  border-color: #cccccc;
  border-bottom: 3px solid #ccc;
}

#logo {
  float: left;
  height:90px;
  width:330px;
  color:white;
  font-size:30px;
  background: #4aaaa5;
  text-align:center;
  margin: 0 auto;
  line-height:90px;
}

.menu {
  padding-top: 25px;
  float:right
}

.menu a {
  padding-left: 20px;
  margin-left:20px;
  text-decoration: none;
  display:inline-block;
  line-height:20px;
  color:#9a9b9c;
}

.borderOption {
    border-left: 2px solid #f1f1f1;
}

.blocking {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

.foot {
  background: #666666;
  clear:both;
}

.sidebar {
  float:right;
  width: 100%;
  max-width: 270px;
}

.mainContent {
  float:left;
  width: 100%;
  max-width: 650px;
  margin: 120px 0px 0px 0px;
}
